/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


.portal-header {
  margin-bottom: 5px;
}

.panel-heading {
  background: #51758a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ccc));
  background: -webkit-linear-gradient(top, #51758a, #3e6176);
  background: -moz-linear-gradient(top, #51758a, #3e6176);
  background: -o-linear-gradient(top, #51758a, #3e6176);
  background: -ms-linear-gradient(top, #51758a, #3e6176);
  background: linear-gradient(top, #51758a, #3e6176);
  color: white;
}

.tab-selected {
  background-color: rgba(250,250,250,1) !important;
  border-top : 1px solid #CAD1D5;
  box-shadow: 0 5px 4px 4px #A9A6A6;
  z-index: 1;
  border-left: none;
  border-right: none !important;
  top: 9px;
  font-weight: bold;
}

.menu-container-TIW {
  max-width: 960px;
  padding: 0 !important;
  height: 43px;
  overflow: hidden;
}

.menu-TIW {
  padding-left: 0;
  border: medium none !important;
  height: 53px !important;
  min-height: 53px !important;
  border-radius: 0;
}

.menu-TIW > div {
  padding-left: 0;
}

.menu-TIW .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}



.nav > li:first-child a {
  border-left: 1px solid #CAD1D5;
  border-radius: 5px 0 0;
}

.nav > li:last-child a {
  border-right: none !important;
  border-radius: 0 5px 0;
}

.nav > li:last-child a {
  /*border-left: 1px solid #252525;*/
  border-right: none;
}

#nav > .nav > li > a {
  height: 38px;
  border-right: 1px solid #51758a;

  bottom: -11px;
  color: #475056;
  font-size: 95%;
  cursor:pointer;
  white-space: pre;
  background-color: #D1D1D1;
  /*box-shadow: 0 -10px 10px -9px #000000 inset;*/
  line-height: 5px;
  /*border-top: 1px solid #51758a;*/
}

.panel-body {
  background-color: #EBEDEF;
  /*border: silver 1px solid;*/
  box-shadow: silver 0 5px 10px -4px;
}

.btn-primary {
  background: #51758a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ccc));
  background: -webkit-linear-gradient(top, #51758a, #3e6176);
  background: -moz-linear-gradient(top, #51758a, #3e6176);
  background: -o-linear-gradient(top, #51758a, #3e6176);
  background: -ms-linear-gradient(top, #51758a, #3e6176);
  background: linear-gradient(top, #51758a, #3e6176);
  color: white;
}

.breadcrumb > li + li:before {
  font-weight: bold;
  content: ">";
}

.pagination-container {
  text-align:center;
}

.pagination-container ul {
  margin-top:0;
}

.pagination-container a {
  cursor:pointer;
}

.footer {
  display: none;
}

.table-container {
  min-height: 212px;
  box-shadow: silver 0 5px 10px -4px;
}

.table-container td {
  white-space:nowrap;
  overflow: hidden;
}

.table {
  font-size :13px;
}

.table a {
  cursor:pointer;
}

.table th {
  cursor:pointer;
}

.table td {
  white-space: nowrap;
}

.table-name-column {
  max-width:200px;
  overflow:hidden;
}

.table-date-column {
  max-width:110px;
  overflow:hidden;
  white-space: nowrap;
}

.table-type-column {
  overflow: hidden;
  max-width: 75px;
  white-space: nowrap;
  min-width: 75px;
}

.table-column-button {
  overflow: hidden;
  max-width: 25px;
  white-space: nowrap;
  min-width: 25px;
}

textarea {
  resize:none;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.multiselect-parent{
  width: 100%;
}

.multiselect-parent button{
  width: 100%;
}

.multiselect-parent ul {
  width: 100%;
}

.ng-invalid-email {
  border-color : red;
}

.modal {
  overflow-y: hidden !important;
}


th span {
  float : right;
  min-width: 15px;
}


.highlighted {
  background-color: #f9f4ca !important;
}

.btn-toolbar{
  margin-bottom:5px;
}

.angular-text-shortwords > button {

  height: 28px;
  margin-left: 6px !important;
  line-height: 12px;
}

.btn-toolbar > .btn-group:first-child {
  width:100%;

}

.btn-toolbar > .btn-group:first-child {
  margin-left:0;
  margin-top:5px;
  padding:4px;
  border: 1px solid silver;
  width: 100%;
  margin-bottom: 5px;

}

.btn-toolbar > .btn-group:first-child:before {
  content: "Dynamic Text";
  float: left;
  margin-top: 2px;
  font-weight: bold;
  clear: both;
  font-size: 13px;
  width: 100%;
  margin-bottom: 5px;
  margin-left: 2px;
}

.not-before-content {
  border:none !important;
  padding: 0 !important;
}

.not-before-content:before {
  content:"" !important;
}


.btn-toolbar > .btn-group:last-child > button {
  font-size:11px;
  margin-left:0;
}

.table-publishing-header {
  margin-top : 0 !important;
}

.sign_tos {
  width: 100%;
  background-color: white;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px silver solid;
}

.download-icon  {
  font-size: 1.5em !important;

  text-decoration: none !important;
  color: black;
  width: 100%;
  text-align: center;

}
.download-icon:hover {
  text-decoration: none !important;
}

a.disabled {
  cursor: default;
  color: silver;
}

a.disabled:hover {
  text-decoration:none;
}




.header-container{
  height: 90px;
  margin-bottom: 0;
}

.body-jhi .panel-heading{
  background: -webkit-linear-gradient(top, rgba(201,21,31,.9), #cf0400) !important;
}

.body-jhi .btn-tiw-green {
  background: -webkit-linear-gradient(top, rgba(201,21,31,.9), #cf0400) !important;
  border-color: red;
}

.body-jhi .btn-tiw-green:active {
  background: rgba(201,21,31,.90) !important;
  border-color: red !important;
}

.main-options {
  border: 1px silver solid;
  padding-top: 21px;

}
.wizard-centered {
  /*position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -25%;
  margin-top: -20%;*/
  margin-top:4%;
}

.panel-default > .panel-heading {
  color:white;
}


.accordion {
  border: none;
  margin-bottom: 0 !important;
}

.accordion .panel {
  border: none;
  box-shadow: none;
}


.accordion-header {
  background: #EBEDEF !important;
  color: black !important;
}

.accordion-header a {
  text-decoration: none !important;
  font-size: 0.9em;
}

.accordion-header h4 {
  font-weight: bold;
  padding-left: 26%;
  font-size: 14px;

}

.accordion-body {

  box-shadow: none;
}

.no-padding-left{
  padding-left : 0 !important;
}

.mandatory-mark {
  position: absolute;
  clear: initial;
  float: right;
  right: -1px;
  top: 7px;
  font-size: 18px;
  font-weight: bold;
  color: #A36565;
}

.ucr-validation-error {
  white-space: pre;
}

.help-block {
  font-size: 13px;
  margin-bottom: 0;
}



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
