

<div class="panel panel-default" ng-controller="CreateUcrCtrl as ucr">
  <div class="panel-heading">
    <h3 class="panel-title">Create UCR</h3>
    <a class="navbar-triangle"></a>
  </div>
  <div class="panel-body ">


    <form name="ucrForm" class="form-horizontal" role="form">
      <div>
        <br />

        <div class="form-group" ng-class="{ 'has-error' : (ucrForm.umr.$invalid && !ucrForm.umr.$pristine) || (!ucr.selectedUmr && ucrForm.umr.$touched && ucr.umr) }">
          <label class="col-xs-3 control-label">UMR:</label>
          <div class="col-xs-8">
            <pre>Model: {{ucr.selectedUmr}}</pre>
            <input id="umr" autocomplete="off" auto-complete auto-complete-id-selected="ucr.selectedUmr" required name="umr" ui-items="ucr.UmrList" ng-blur="ucr.ValidateUMR()" ng-keypress="ucr.umrErrorText=''" ng-change="ucr.UpdateUmr()" ng-model="ucr.umr" class="form-control input-sm text-uppercase" /><span class="mandatory-mark">*</span>
            <p ng-show="ucrForm.umr.$invalid && !ucrForm.umr.$pristine" class="help-block">UMR is required.</p>
            <p ng-show="!ucr.selectedUmr && ucrForm.umr.$touched && ucr.umr" class="help-block">{{ucr.umrErrorText}}</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (ucrForm.claim_reference.$invalid && !ucrForm.claim_reference.$pristine) || (!ucr.ucrValid && !ucrForm.claim_reference.$pristine)  }">
          <label class="col-xs-3 control-label">Claim Reference:</label>
          <div class="col-xs-2">
            <select required name="broker_code" ng-model="ucr.broker_code" class="form-control input-sm">
              <option ng-init="ucr.broker_code = ucr.main_broker_code" ng-repeat="code in ucr.broker_code_list" value="{{code.BrokerCode}}">{{code.BrokerCode}}</option>
            </select>
          </div>
          <div class="col-xs-6">
            <input maxlength="12" ng-trim="false" autocomplete="off" required name="claim_reference" ng-change="ucr.changed = true" ng-model="ucr.claim_reference" ng-blur="ucr.ValidateUCR()" id="ucr" class="form-control input-sm text-uppercase" /><span class="mandatory-mark">*</span>
            <p ng-show="(ucrForm.claim_reference.$invalid) && ( !ucrForm.claim_reference.$pristine)" class="help-block ucr-validation-error">Claim Reference is required.</p>
            <p ng-show="!ucr.ucrValid && !ucrForm.umr.$invalid && ucr.claim_reference.length" class="help-block">{{ucr.ucrErrorText}}</p>
          </div>

          <div class="col-xs-1" style="padding-left: 10px; padding-top: 6px; width: 10px; float: left;">
            <span style="cursor:pointer;" id="ucr_help" ng-model="ucr_help" data-content="" data-placement="right" data-toggle="popover" data-container="body" class="glyphicon glyphicon-question-sign" data-original-title="" title=""></span>
          </div>
        </div>

        <br />
        <br />

        <div class="form-group">
          <div class="col-sm-7"></div>

          <div class="col-sm-2">
            <button type="button" ng-click="ucr.Cancel()" class="btn btn-tiw-green btn-primary btn-block">Cancel</button>
          </div>

          <div class="col-sm-2">
            <button type="button" ng-disabled="ucrForm.$invalid || !ucr.selectedUmr || !ucr.ucrValid || ucr.changed" ng-click="ucr.CreateUCR()" class="btn btn-tiw-green btn-primary btn-block">Finish</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
